@font-face {
    font-family: 'Druk';
    src: url('../fonts/DrukTextWide-Medium.woff2') format('woff2'),
         url('../fonts/DrukTextWide-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
  background-image: url("../media/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(30,29,24,0.9);
  height: 100%;
  min-height: 100vh;
  color: rgba(255, 249, 252, 1);
  font-size: 1.1em;
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  line-height: 1.4em;
  margin-top: 20px;
}
.container{
  width: 900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10vh;
}
img {max-width: 100%;}
.logo-link > img,
.logo-link > p {
  display: inline-block;
  vertical-align: middle;
}
.logo-container {margin-bottom: 20px;}
.logo-link {text-decoration: none}
.logo-image {width: 400px; max-width: 42%;}
input[type="file"] {
    display: none;
}
.x {
  width: 50px;
  max-width: 9%;
  font-size: 1.5rem;
  color: rgba(255, 249, 252, 1);
  text-decoration: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
}
#canvas {
  height: 600px;
  width: 600px;
  cursor: default;
}
video {max-width: 90vw; margin: auto;max-height: 90vw;margin-top : 20px;}
#step-1 {display: none;}
#success {display: none;}
button,
.button,
#button-crop,
.custom-file-upload {
  border: 1px solid rgba(30,29,24,0.9);
  background-color: rgba(30,29,24,0.9);
  color: rgba(255, 249, 252, 1);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  padding: 14px;
  text-decoration: none;
  display: inline-block;
}
.outro-button{
  width: 300px;
  max-width: 65vw;
}
.preselected-image {
  max-height: 200px;
  max-width: calc(90vw - 20px);
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
}
.intro-text {
  margin-bottom: 26px;
  text-shadow: 1px 1px 15px rgba(30,29,24,0.9);
}
.cropper-wrap-box,
.cropper-container,
.cropper-modal {
  border-radius: 50px;
}
.cropper-container {
  max-height: 85vh;
}
.cropper-bg { background: none;}
@media only screen and (max-width: 600px) {
  .container{padding-top: 0;}
}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  max-width: 90vw;
  /*whatever width you want*/
}
