<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}Club Qu - Thrived</title>
<link rel="shortcut icon" type="image/jpg" href="static/favicon.ico"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/minify.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cropper.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
