{% extends 'base.html' %}
{% block content %}
<div class=container>
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div id=step-0>
                    <div class=logo-container>
                        <a class=logo-link href="/" title="Thrived main page">
                            <img id=logo class=logo-image src="static/media/logo.png" alt="thrived logo" />
                            <p class=x>X</p>
                            <img id=clubqu-logo class=logo-image src="static/media/logo_clubqu.png" alt="club qu logo" />
                        </a>
                    </div>
                    <div class=intro-text>
                        Anthea, ancient greek for “blossom” references the duo's name “Thrived” as a concept of mutual growth.<br/>
                        We invite you to join in by selecting and cropping one of the following images, which will be fed into an AI.
                        The AI will then generate a virtual flower, based on what you, the community, decides!
                    </div>
                    <button type="button" onclick="goToStep1()">Choose a flower</button>
                </div>

                <div id=step-1>
                    <div id=file-selector>
                        <div class=preselected-images>
                            <img class=preselected-image src="static/media/preselected/{{ random_file0 }}" />
                            <img class=preselected-image src="static/media/preselected/{{ random_file1 }}" />
                            <img class=preselected-image src="static/media/preselected/{{ random_file2 }}" />
                        </div>
                    </div>
                </div>
                <div id=crop-area>
                    <canvas id=canvas>
                        Your browser does not support the HTML5 canvas element.
                    </canvas>
                    <input type=button id=button-crop value="Upload cropped image" />
                </div>
                <div id=success>
                    <div class=intro-text>
                        You have succesfully added your selection to the AI network.<br/>
                        Thanks for participating !
                    </div>
                    <div><a class='button outro-button' href="https://clubqu.bandcamp.com/track/thrived-anthea-aerial-mix">Free Track</a></div>
                    <div><a class='button outro-button' href="https://clubqu.bandcamp.com/album/thrived-anthea">Bandcamp Preorder</a></div>
                    <div><a class='button outro-button' href="/">Choose another flower</a></div>
                    <div>
                        <script src="/static/js/jquery.min.js"></script>
                        <script src="/static/js/cropper.min.js"></script>
                        <script src="/static/js/jquery-cropper.min.js"></script>
                        <script src="/static/js/file_upload.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<audio id=audio-ambiant src="/static/media/thrived-ambiant.mp3" autoplay>
    <p>If you are reading this, it is because your browser does not support the audio element.</p>
</audio>
{% endblock %}
